* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1 {
    font-family: 'Cantora One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
}

h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
}

h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 1.2vw; 
    
    white-space: pre-wrap;
}

p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1vw; 
    padding-top: 1.5vh;
}

label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1vw; 
    padding-top: 1.5vh;
}

.Body {
    width: 100%;
    min-height: calc(100vh - 25vh); 
    margin-top: 20vh; 
    padding-bottom: 7vh; 
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; 
}

.BookContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}