* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .Header {
    width: 100vw;
    height: 15vh;
    top: 0; /* Ensures it stays at the very top */
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    z-index: 1;
    position: fixed; /* Keeps it at the top even when scrolling */
    background-color: #dcbb96;
    
    position: fixed; /* Keep it at the top */
    margin: 0; /* Prevent unintended margins */
    padding: 0; /* Prevent unintended padding */
}

.Header h1 {
    font-family: 'Cantora One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    /* top:2vh; tentar colocar o t[itulo mais para cima */
}

.Header button {
    width:10vw;
    height:4vh;
    /* top: 8.3vh; */
    background: #FFFFFF;
    border-radius: 5vw;

    justify-content: center;
    align-items: center; /*are these align and justfy working? */
    font-family:  "Cambo", serif;
    font-size: 1.5vw;
}

.Footer {
    width: 100vw;
    height: 5vh;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    background-color: #dcbb96;
}

h3 {
    font-family:  "Cambo", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
}

p {
    font-family:  "Cambo", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;  
}


.Body {
    width: 100vw;
    height:80vh;
    top: 15vh;
    left: 0;
    position: absolute;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; 
}

.BookContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.BookImage {
    width: 12vw; /* Adjust the width to your desired size */
    height: 12vw; /* Adjust the height to your desired size */
    border-radius: 50%; /* This creates the circular shape */
    object-fit: cover; /* Ensures the image fits within the given dimensions */
    margin-left: 5vw;
    margin-right: 5vw;   
}

.BookPageBody {
    top: 20vh;
    left: 2vw;
    position: absolute;

    display: flex;
    flex-direction: column;
}

.BookTitle {
    position: absolute; /* Places it inside .Header */
    bottom: 0; /* Aligns with bottom of .Header */
    left: 2vw; /* Aligns with the left margin */
    
    width: 30vw;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1vw;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    z-index: 2; /* Ensure it stays above .Header */
}

.BookPageSummary {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center; 
}

.BookReview {
    height: 70vh;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}